<h1>Route A</h1>

{{spacer 500}}

<h2 id="some-id">#some-id</h2>

{{spacer 900}}

<h2 id="another-id">#another-id</h2>

{{spacer 900}}

<h2 id="the-last-one">#the-last-one</h2>

{{spacer 500}}

{{outlet}}
